* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #000;
  
}


.cursor{
  width: 25px;
  height: 25px;
  border: 2px solid #a3401d;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  mix-blend-mode: difference;
}

/* ================= NAVBAR ================= */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
  background: transparent;
  color: white;
  border-bottom: 1px solid rgba(129, 128, 128, 0.2);
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #000000;
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: linear-gradient(to right, #cd5227, #a3401d);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Nav Links */

.nav-links {
  display: flex;
  justify-content: right;
  align-self: center;
  list-style: none;
  gap: 40px;
  width: 80%;
}

.nav-links i {
  background: linear-gradient(to right, #cd5227, #a3401d);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 5px;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  color: #aaa;
  font-size: 16px;
  overflow: hidden;
  display: inline-block;
}

.nav-links span {
  position: relative;
  display: inline-block;
  transition: 0.4s;
}

/* Duplicate text */
.nav-links span::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 100%;
  background: linear-gradient(to right, #cd5227, #a3401d);
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Hover Color */
}

/* Hover Effect */
.nav-links a:hover span {
  transform: translateY(-100%);
}

/* Toggle Button */

.toggle {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 900px) {
  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background: #111;
    padding: 20px 0;
    display: none;
    text-align: center;
    border-radius: 0;
    z-index: 2;
  }

  .nav-links.active {
    display: flex;
  }

  .toggle {
    display: block;
  }
}

/* ================= HERO SECTION ================= */

.hero-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 20px 80px; /* top padding navbar ke liye */
  overflow: hidden;
  background-image: url("./Background.svg"); /* apni image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.container {
  max-width: 800px;
  width: 100%;
}

.hero-section .full {
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 600;
  margin-bottom: 15px;
  background: linear-gradient(to right, #cd5227, #a3401d);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.hero-section h1 {
  font-size: 50px;
  line-height: 1.3;
  margin-bottom: 20px;
  color: white;
  font-weight: 600;
}



.hero-section p {
  font-size: 18px;
  color: #aaa;
  line-height: 1.6;
}

/* Buttons */
.btn {
    margin-top: 20px;
}


.btn .view {
  text-decoration: none;
    background-color: #a3401d;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    border-top: 1px solid white;
    font-size: 15px;
    margin-right: 20px;
    color: white;
}

.btn .view:hover {
    box-shadow: 0 0 30px #a3401d;
    cursor: pointer;
    background-color: #b83a0c;
}


.btn .contact {
  text-decoration: none;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    border: 1px solid #a3401d;
    font-size: 15px;
    cursor: pointer;
    background-color: transparent;
    color: white;
}

.btn .contact:hover {
    background-color: #a3401d;
     box-shadow: 0 0 30px #a3401d;
}

/* ================= RESPONSIVE ================= */

/* Tablet */
@media (max-width: 992px) {
  .hero-section {
    padding: 120px 20px 80px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .hero-section {
    padding: 0px 15px 10px;
    margin-top: -80px;
  }

  .hero-section .full {
    font-size: 14px;
    letter-spacing: 2px;
  }

  .btn {
    flex-direction: row;
    gap: 12px;
    margin-top: 40px;
  }

  .btn button {
    width: 100%;
    max-width: 250px;
    margin: auto;
  }

  .btn .view {
    margin-right: 20px;
    
  }

  .hero-section h1 {
    font-size: 35px;
    line-height: 1.2;
  }

  .hero-section p {
    font-size: 16px;
  }
}


/* skill section */

.skills-section {
    padding: 80px 10%;
    text-align: center;
    color: #fff;
}

.section-title {
    font-size: 40px;
    margin-bottom: 60px;
    margin-top: -100px;
    position: relative;
    animation: fadeDown 1s ease-in-out;
}

.section-title::after {
    content: "";
    width: 100px;
    height: 4px;
    background: #a3401d;
    display: block;
    margin: 15px auto 0;
    border-radius: 5px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.skill-box {
    background: rgba(255,255,255,0.05);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    transition: 0.4s ease;
    animation: fadeUp 1s ease forwards;
    transform: translateY(40px);
    opacity: 0;
}

.skill-box:nth-child(1) { animation-delay: 0.2s; }
.skill-box:nth-child(2) { animation-delay: 0.4s; }
.skill-box:nth-child(3) { animation-delay: 0.6s; }
.skill-box:nth-child(4) { animation-delay: 0.8s; }
.skill-box:nth-child(5) { animation-delay: 1s; }
.skill-box:nth-child(6) { animation-delay: 1.2s; }
.skill-box:nth-child(7) { animation-delay: 1.4s; }
.skill-box:nth-child(8) { animation-delay: 1.6s; }
.skill-box:nth-child(9) { animation-delay: 1.8s; }

.skill-box i {
    font-size: 50px;
    margin-bottom: 20px;
}

.skill-box h3 {
    margin-bottom: 15px;
    font-size: 22px;
}

.skill-box:hover {
    transform: translateY(-15px) scale(1.05);
    box-shadow: 0 0 25px #a3401d;
}

/* Progress Bar */
.progress {
    width: 100%;
    height: 8px;
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0;
    border-radius: 10px;
    animation: fillBar 2s forwards;
}

.html { width: 95%; background: #e34c26; }
.css { width: 90%; background: #264de4; }
.js { width: 85%; background: #f0db4f; }
.react { width: 80%; background: #61DBFB; }
.node { width: 75%; background: #3C873A; }
.git { width: 85%; background: #F1502F; }
.tailwind { width: 85%; background: #5fbcff; }
.github { width: 85%; background: #000000; }
.c { width: 85%; background: #5787b7; }

/* Animations */
@keyframes fadeUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeDown {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fillBar {
    from { width: 0; }
}


/* project section */

.project-section{
  width:100%;
  padding:100px 0;
  position:relative;
  overflow:hidden;
}

/* Heading */
.project-heading{
  text-align:center;
  font-size:60px;
  margin-bottom:60px;
  letter-spacing:3px;
  text-transform:uppercase;
  color: white;
}

.project-heading::after{
  content:"";
  width:120px;
  height:4px;
  background:#ff5c2c;
  display:block;
  margin:20px auto 0;
  border-radius:10px;
}

/* ================= LINK BOX ================= */

.project-link{
  text-decoration:none;
  color:inherit;
  display:block;
}

.box{
  width:100%;
  height:160px;
  border-bottom:1px solid #444;
  display:flex;
  align-items:center;
  position:relative;
  padding-left:60px;
  cursor:pointer;
  transition:0.3s ease;
}

.project-link:hover .box{
  background:#111;
}

.box h1{
  font-size:6rem;
  text-transform:uppercase;
  z-index:2;
  mix-blend-mode:difference;
  transition:0.3s ease;
  color: white;
}


/* Hover Image */
.box img{
  width:450px;
  height:200px;
  border-radius:20px;
  position:absolute;
  opacity:0;
  transition:opacity 0.2s linear;
  object-fit:cover;
  pointer-events:none;
  transform:translate(-50%,-50%);
  box-shadow:0 15px 40px rgba(0,0,0,0.6);
}

/* Tablet */
@media(max-width:768px){

  .project-heading{
    font-size:40px;
  }

  .box{
    padding-left:30px;
  }

  .box h1{
    font-size:8vw;
  }
}

/* Mobile */
@media(max-width:480px){

  .project-heading{
    font-size:32px;
  }

  .box{
    height:110px;
  }

  .box h1{
    font-size:10vw;
  }

  .box img{
    width:100px;
    height:100px;
  }
}